<%= javascript_include_tag 'index', 'data-turbolinks-track' => true %>
<%= render 'partials/navbargames' %>

<div id="chessboard" style="width: 400px"></div>
</br>
</br>
</br>
</br>
<div id="messages"></div>
