<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Game Test</h2>
            <a href="/welcome" class="btn btn-default btn-xl wow tada">Try It Now!</a>
            <a href="/welcome" class="btn btn-default btn-xl wow tada">Vs Player</a>
            <a href="/chessboard" class="btn btn-default btn-xl wow tada">Vs Computer</a>
        </div>
    </div>
</aside>
