<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In the CHESSZONE!</h2>
                <hr class="primary">
                <p>Interested in getting the game for your own? Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <%= image_tag "creative/phone-call.png", class: "wow bounceIn" , alt: "" %>
                <p>013-5932043</p>
            </div>
            <div class="col-lg-4 text-center">
                <%= image_tag "creative/envelope.png", class: "wow bounceIn" , alt: "" %>
                <p><a href="mailto:your-email@your-domain.com">chezz@chezz.com</a></p>
            </div>
        </div>
    </div>
</section>
